<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image.css') }}">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <header>
        <div id="back-button" onclick="goBack()"><i class="fa-solid fa-left-long"></i> Back</div>
        <h1><i class="fa-solid fa-image" style="color: #63E6BE;"></i> Image Generation</h1>
    </header>
    <div class="image-container">
    </div>
    <div class="input-container">
        <input type="text" id="image-prompt" placeholder="Enter your image prompt here..." />
    </div>
    
    <script src="https://kit.fontawesome.com/d94d01613f.js" crossorigin="anonymous"></script>
</body>
</html>
