<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to Speech</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/text_to_speech.css') }}">
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</head>
<body>
    <header>
        <div id="back-button" onclick="goBack()"><i class="fa-solid fa-left-long"></i> Back</div>
        <h1><i class="fa-solid fa-headphones-simple" style="color: #B197FC;"></i> Text to speech</h1>
    </header>
    <div class="tts-container">
    </div>
    <div class="input-container">
        <input type="text" id="tts_text" placeholder="Enter your text here..." />
    </div>

    <script src="https://kit.fontawesome.com/d94d01613f.js" crossorigin="anonymous"></script>
</body>
</html>